<div class="container">
  <h2 class="h2">Atbildes uz biežāk uzdotajiem jautājumiem:</h2>
  <div class="faq-text">
    <div class="container">
      <h4 class="h4"><strong>Vai ir iespējams reģistrēt vairākus profilus?</strong></h4>
      <p>Nē, viena persona drīkst reģistrēt tikai vienu lietotāju uz vienu e-pastu. Ja lietotājs pats izdzēš profilu, viņš drīkst vēlreiz reģistrēties. Skatīt noteikumu 4.2!</p><br>
      <h4 class="h4"><strong>Cik sludinājumu drīkst izveidot viens lietotājs?</strong></h4>
      <p>Tāds ierobežojums nav noteikts, tātad drīkst ievietot, cik lietotājs vēlas. Bet sludinājumiem jābūt izveidotiem atbilstoši noteikumiem, citādi tie var būt dzēsti!</p><br>
      <h4 class="h4"><strong>Ko darīt, ja saņemta sūdzība par sludinājumu?</strong></h4>
      <p>Administrācija izskatīs sludinājuma atbilstību noteikumiem: ja viss ir kārtībā, nekas nemainās. Ja ir konstatēts kāds noteikumu pārkāpums, tad tiek izteikts brīdinājums par sludinājumu, lai lietotājs mainītu saturu uz atbilstošu noteikumiem, vai sludinājums tiek dzēsts, un lietotājam dots brīdinājums vai tiek liegta pieeja vietnei, ja noteikumu pārkāpumi atkārtojas.</p><br>

    </div>
  </div>
</div>
