<div class="container">
  <h2 class="h2">Sludinājumu servisa lietošanas noteikumi:</h2>
  <div class="container rules">
    <div class="rule-text container">
      <p><strong>1.</strong> Ievietojot sludinājumu, lietotājs pilnīgi piekrīt šiem lietošanas noteikumiem, kā arī tam, ka iesniegtie personiski dati un kontaktinformācija tiks glabāti vietnē saskaņā ar likuma normām.</p>
      <p><strong>2.</strong> Sludinājumu servisa administrācija sakarā ar akcīzes un kontrolējamo preču, zāļu, ieroču, bīstamo un kaitīgo vielu nelikumīga apgrozījuma novēršanu,ka arī valsts licencējamo pakalpojumu sniegšanas bez licences novēršanas nolūkos, finansiālas disciplīnas un grāmatvedības uzskaites nolūkos, izvairīšanās no nodokļiem, nelikumīgo ienakumu legalizācijas un citu likuma pārkāpumu novēršanas nolūkos var veikt personu un kompāniju identifikāciju, pieprasot papildu informāciju un dokumentus.
      Visa dokumentācija, personu dati un konfidiciālā informācija tiek uzglabāta minimāli nepieciešamos apjomos un termiņos.
      Darbinieku skaits, kuriem ir pieeja pie šiem datiem, ir stingri ierobežots; notiek darbinieku vaicājumu pie datiem fiksācija.</p>
      <br>
      <h3 class="h3"><strong>Sludinājumu satura noteikumi:</strong></h3><br>
      <p><strong>3.</strong> Sludinājumi netiek pieņemti ( tiek dzēsti ), ja:<br>
      3.1 Lietotājs neievēro likumdošanas prasības, vispārpieņemtās uzvedības un ētikas normas. Sludinājumā nav aizpildīti obligāti aizpildāmie lauki, vai norādītā informācija ir nepareiza vai ir kļūdaina.<br><br>
      3.2 Saturs neatbilst vai tikai daļēji atbilst izvēlētai sadaļai. Ja nav piemērotas sadaļas, tad ir atļauts iesniegt sludinājumu sadaļā, kas vistuvāk atbilst tematikai, bet jāizvēlas darījuma veids "Dažādi".<br><br>
      3.3 Sludinājumi, nesaturoši precīzu detalizētu preces, pakalpojuma vai darba piedāvājuma aprakstu vai kuros netiek pieminēta svarīga informācija (piemēram: produkta kvalitāte, stāvoklis, materiāls, izmēri, funkcionalitāte, izmantošanas īpašības, pieļaujamā lietošanas sfēra ) un fotoattēlā arī nav iespējams noteikt šīs īpašības, jeb teksta saturs vai fotoattēli ir maldinošie.<br>
      Pārkāpumu piemēri:<br>
      - Sludinājumā par auto pārdošanu netiek norādīta informācija, ka automašīna agrāk bija autoavārijā.<br>
      - Sludinājumā par mēbeļu pārdošanu netiek pieminēta informācija, ka fotoattēlā ir mēbeles daļas, kas neietilpst preces komplektācijā.<br>
      - Sludinājumā par nekustamā īpašuma pārdošanu nav norādīts objekta statuss un stāvoklis, vai nav pievienoti fotoattēli.<br><br>

      3.4 Tiek ievietots vairāk nekā viens pārdošanas objekts vai pakalpojums, vai teksta saturs ir vispārīgs (piemēram, "Jebkuri piezīmjdatori", "dažādi modeļi" un t.t.) Viena sludinājuma ietvaros ir atļauts publicēt tikai viena pārdošanas objekta vai pakalpojuma piedāvājumu, norādot detalizētu aprakstu un precīzu cenu. Fotogrāfijām jāattēlo viens pārdošanas objekts, kurš tiek aprakstīts sludinājuma tekstā.<br><br>

      3.5 Sludinājumā tiek piedāvāts neeksistējošs ( Latvijas teritorijā ) objekts vai pakalpojums.<br>
      Piemēri: "BMW 528i 2003 nobraukums 73 tūk., auto atrodas Vācijā", " Dzīvoklis ir mājā būvniecības stadijā".<br><br>

      3.6 Sludinājuma tekstā (izņemot šim nolūkam atbilstošus laukus) vai pievienotajos attēlos ir tālruņa numurs, e-pasta adrese, interneta norāde vai cita kontaktinformācija.<br><br>

      3.7 Sludinājumā norādīta cena neatbilst patiesībai vai nav minētas papildu izmaksas. Cenai jābūt galīgai bez jebkuriem papildu nosacījumiem.<br>
      Pārkāpumu piemēri:<br>
      - tiek pārdots telefons Apple 5s, cena pēc vienošanas, atbilstošā laukā norādīta cena 10€.<br>
      - norādītā cenā nav iekļauts PVN (attiecas uz juridiskām personām)<br>
      - cena īrējot dzīvokli vai auto uz 1 dienu norādīta 30€, bet minimālais iespējamais nomas termiņš sakas no 2 dienām.<br><br>

      3.8 Nav atļauts izmantot fotoattēlus:<br>
      - zemas kvalitātes, kad objekta stāvoklis nav redzams.<br>
      - vispārēja plāna, ja pārdošanas objekts ir redzams starp citiem objektiem un nav dominējošs attēlā.<br>
      - neatbilstošus sludinājuma tekstā aprakstītam piedāvājumam. Fotoattēlos vajadzētu būt redzamai tikai precei, kura tiek aprakstīta sludinājuma tekstā. Fotoattēliem jābūt reāliem, bet ne no katalogiem vai atrasti interneta vidē.<br>
      - saturošus uzrakstus vai elementus, kas traucē apskatei un maina dabisko estētisko attēla izskatu.<br>
      - ar logotipiem, kontaktinformācijai vai adresēm.<br><br>

      3.9 Sludinājums pārkāpj autortiesības vai tirdzniecības marku tiesības.<br><br>

      3.10 Sludinājums sastādīts citās valodās, nekā latviešu, krievu vai angļu valodā; satur tekstu krievu valodā, bet rakstīts latīņu burtiem. Satur daudz kļūdu tekstā.<br><br>

      3.11 Sludinājums domāts iegūt informāciju par lietotāju.<br><br>

      3.12 Sludinājumi, par kuriem tiek saņemtas vairākas sūdzības.<br><br>

      3.13 Ar licencējamu preču vai pakalpojumu piedāvājumiem, ja sludinājums nesatur precīzu pārdevēja kontaktinformāciju un atbilstošās licences numuru.<br><br>

      3.14 Satur piedāvājumus darbam video čatos, erotiskās video un foto sesijās vai jebkādā veidā seksa pakalpojumu sniegšanā.<br><br>

      3.15 Sludinājums satur medikamentu, preču vai pakalpojumu izplatīšanas piedāvājumus izmantojot tīkla mārketingu MLM. Piedāvājumi ar pelnīšanas iespējām internetā saistitām ar reģistrēšanos, klikšķiem vai citiem apšaubāmiem darbības veidiem.<br><br>

      3.16 Tiek piedāvāti tabakas izstrādājumi, smēķēšanas piederumi, alkohols, prekursori, kontrolējamie medikamenti, bīstamas vai kaitīgas vielas un produkti, kā arī minēto lietu ražošanas un apstrādes aprīkojums.<br><br>

      3.17 Daudzkārtējos sludinājumos interneta norāde (links) atver lietotāja mājas lapas pirmo lapu. Atļauts norādīt linku, kurš atver interneta lapu ar produkta aprakstu, kas tiek piedāvāts sludinājumā.<br><br>

      3.18 Sludinājums ir no nodarbinātības aģentūrām vai personāla atlases kompānijām, no izsolēm, vai tiek reklamēti citi sludinājumu dēļi. Kā arī tekstā vai fotoattēlos satur logotipus, reklāmu vai linkus saistītus ar iepriekš minētajām organizācijām. Netiek pieņemti publicēšanai interneta linki, kas satur norādes uz citiem sludinājumu servisiem.<br><br>

      3.19 Tiek piedāvāti okulta veida pakalpojumi - astroloģija, zīlēšana, netradicionālā medecīna utt.<br><br>

      3.20 Satur uzaicinājumu jebkādā formā savākt ziedojumu, noguldījumu un iemaksas.<br><br>

      3.21 Satur norādes uz resursiem, kuri nekorekti apkalpo apmeklētājus, atver uznirstošos logus, ieslēdz skaņas pavadījumus vai veic citas ļaunprātīgas darbības vērstas pret apmeklētājiem vai informācijas sistēmām; satur preču vai pakalpojumu piedāvājumus, kurus aizliegts izvietot sludinājumos.<br>
      Piemēram:<br>
      - Sludinājums ietver linku uz vietni, kas piedāvā smēķēšanas ierīces, pat ja sludinājumā nav minēta informācija par šim ierīcēm.<br>
      - Noklikšķinot uz linka atveras lapa ar aicinājumu piereģistrēties vai aizpildīt anketu vai aptauju.<br>
      - Noklikšķinot uz linka atveras pavisam cita lapa, nekā ir norādīta sludinājumā (pāradresācija) vai atveras vēl papildus lapa (PopUp vai PopUnder).<br><br>

      3.22 Satur interneta vietnes linku, kurš nav saistīts ar sludinājuma saturu. Arī, ja links ved vietnē ar novecojušo saturu, satur pārāk maz informācijas vai ļoti zemā kvalitātē, kā arī ja ir pārslogots ar web skaitītājiem, reklāmas blokiem, linkiem uz citām vietnēm.<br><br>

      3.23 Saturā ir emocionālas nokrāsas teksts, izsaucieni, aicinājumi, lozungi, deklarācijas un inscenējuma jautājumi, kā arī teksts un atslēgvārdi, kas nav saistīti ar sludinājuma objektu. Aizliegts izmantot izsaukuma un jautājuma zīmes vai citus simbolus uzmanības piesaistīšanai. Sludinājuma tekstā jābūt tikai informātīvam saturam.<br><br>

      3.24 Sludinājumi par auto pārdošanu ar nobraukuma skaitītāju, kurš ir samazināts vai norādīts nepareizi; ar fotogrāfijām, kurās numura zīmes ir paslēptas vai aizstātas, vai vispār bez Latvijas numura zīmēm; kā arī, ja norādīts cits neatbilstošs izlaiduma gads vai citas krāpnieciskas darbības.<br><br>

      3.25 Sludinājumi atkārtojas ar vienādu tekstu vai satur identiskas norādes. Ievietojot daudz sludinājumus, katra sludinājuma tekstam ir jābūt unikālam.<br><br>

      3.26 Sludinājumi, kuri var būt orientēti uz nepieprasītās korespondences un reklāmas brošūras izplatīšanu, saistīti ar citām uzbāzīgām reklāmas metodēm vai agresīvu mārketingu.<br><br>

      3.27 Piedāvātajam pakalpojumam vai precei nav nekādas vērtības (pieprasījums) vai sludinājumam ir absurds saturs.</p>
    </div>
  </div>
</div>
