<nav class="navbar container">
  <div class="container row">
    <div class="col-md-3 col-12">
      <a class="btn btn-dark nav-item w-100" routerLink="/start"><img src="#" alt="logo"></a>
    </div>
    <div class="col-md-3 col-12">
      <a class="btn btn-dark nav-item w-100" routerLink="">Ievietot sludinājumu</a>
    </div>
    <div class="col-md-3 col-12">
      <a class="btn btn-dark nav-item w-100" routerLink="">Mani sludinājumi</a>
    </div>
    <div class="col-md-3 col-12">
      <a class="btn btn-dark nav-item w-100" routerLink="">Meklēt</a>
    </div>
  </div>
</nav>
