<nav class="navbar navbar-expand-md container sticky-top">
  <div class="navbar-brand col-md-1 col-12 d-none d-lg-block text-center">
    <a class="btn btn-trans nav-item" routerLink="/start">
      <img src="../assets/second-hand.png" alt="logo" class="logo mx-auto">
    </a>
  </div>

  <div class="collapse navbar-collapse container row" id="navbar">
    <div class="nav-item col-md-3 col-sm-3 col-12" routerLinkActive="active">
      <a class="btn btn-dark nav-item w-100" routerLink="">Ievietot sludinājumu</a>
    </div>
    <div class="nav-item col-md-3 col-sm-3 col-12" routerLinkActive="active">
      <a class="btn btn-dark nav-item w-100" routerLink="">Mani sludinājumi</a>
    </div>
    <div class="nav-item col-md-3 col-sm-3 col-12" routerLinkActive="active">
      <a class="btn btn-dark nav-item w-100" routerLink="/search">Meklēt</a>
    </div>
    <div class="nav-item col-md-3 col-sm-3 col-12" routerLinkActive="active">
      <a class="btn btn-dark nav-item w-100" routerLink="">Pieslēgties</a>
    </div>
  </div>
  <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<script src="../node_modules/jquery/dist/jquery.js"> </script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"> </script>
