<section>
  <div class="container">
    <h1 class="h1">{{ title }}</h1>
    <div class="container categories row">
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn w-100" routerLink="">
          <img src="../assets/car.png" alt="vieglie auto" class="w-50">
          <h5 class="h5">Vieglie auto</h5>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn w-100" routerLink="">
          <img src="../assets/truck.png" alt="kravas auto" class="w-50">
          <h5 class="h5">Kravas auto</h5>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn w-100" routerLink="">
          <img src="../assets/motorbike.png" alt="motocikli" class="w-50">
          <h5 class="h5">Motocikli</h5>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn w-100" routerLink="">
          <img src="../assets/moped.png" alt="mopēdi" class="w-50">
          <h5 class="h5">Mopēdi</h5>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn w-100" routerLink="">
          <img src="../assets/track-bicycle.png" alt="velosipēdi" class="w-50">
          <h5 class="h5">Velosipēdi/skūteri</h5>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn w-100" routerLink="">
          <img src="../assets/quad.png" alt="kvadracikli" class="w-50">
          <h5 class="h5">Kvadracikli/bagiji</h5>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn w-100" routerLink="">
          <img src="../assets/karting.png" alt="kartingi" class="w-50">
          <h5 class="h5">Kartingi</h5>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn w-100" routerLink="">
          <img src="../assets/boat.png" alt="ūdens transports" class="w-50">
          <h5 class="h5">Ūdens transports</h5>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn w-100" routerLink="">
          <img src="../assets/trailer.png" alt="piekabes" class="w-50">
          <h5 class="h5">Piekabes/treileri</h5>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn w-100" routerLink="">
          <img src="../assets/piston.png" alt="rez daļas" class="w-50">
          <h5 class="h5">Rezerves daļas</h5>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn w-100" routerLink="">
          <img src="../assets/more-information.png" alt="cits" class="w-50">
          <h5 class="h5">Cits</h5>
        </a>
      </div>
      <div *ngFor="let group of groupData" class="col-12 col-sm-6 col-lg-3">
        <a class="btn w-100" routerLink="">
          <img src="{{group.image}}" alt="no image found" class="w-50">
          <h5 class="h5">{{group.group_name}}</h5>
        </a>
      </div>
    </div>
  </div>
</section>
