<div class="container">
  <h1 class="h1">{{ title }}</h1>
  <div class="categories row">
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img src="../assets/car.png" alt="transports" class="w-50">
        <h5 class="h5">Transports</h5>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img src="../assets/home.png" alt="nekust. īpaš." class="w-50">
        <h5 class="h5">Nekustamais īpašums</h5>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img src="../assets/responsive.png" alt="elektrotehn." class="w-50">
        <h5 class="h5">Elektrotehnika</h5>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img src="../assets/shelf.png" alt="mājai" class="w-50">
        <h5 class="h5">Mājai</h5>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img src="../assets/tshirt.png" alt="apģērbs" class="w-50">
        <h5 class="h5">Apģērbs</h5>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img src="../assets/reading.png" alt="bērniem" class="w-50">
        <h5 class="h5">Bērniem</h5>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img src="../assets/hiking.png" alt="atpūtai" class="w-50">
        <h5 class="h5">Atpūtai un hobijiem</h5>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img src="../assets/tractor.png" alt="lauksaimniec." class="w-50">
        <h5 class="h5">Lauksaimniecībai</h5>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img src="../assets/gardening.png" alt="dārzam" class="w-50">
        <h5 class="h5">Dārzam</h5>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img src="../assets/helmet.png" alt="celtniecībai" class="w-50">
        <h5 class="h5">Celtniecībai</h5>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img src="../assets/manufacture.png" alt="ražošanai" class="w-50">
        <h5 class="h5">Ražošanai</h5>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img src="../assets/customer-service.png" alt="pakalpojumi" class="w-50">
        <h5 class="h5">Pakalpojumi</h5>
      </a>
    </div>
  </div>
</div>
