<div class="container">
  <h1 class="h1">{{ title }}</h1>
  <div class="categories row">
    <div class="col-12 col-sm-6 col-md-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img src="../assets/car.jpg" alt="transports">
        <h5 class="h5">Transports</h5>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img>
        <h5 class="h5">Nekustamais īpašums</h5>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img>
        <h5 class="h5">Elektrotehnika</h5>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img>
        <h5 class="h5">Mājai</h5>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img>
        <h5 class="h5">Apģērbs</h5>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img>
        <h5 class="h5">Bērniem</h5>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img>
        <h5 class="h5">Atpūtai un hobijiem</h5>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <a class="btn btn-dark w-100" routerLink="">
        <img>
        <h5 class="h5">Lauksaimniecībai</h5>
      </a>
    </div>
  </div>
</div>
