<div class="container">
  <h2 class="h2">Pieslēgties</h2>
  <div class="container login">
    <div class="login-form">
      <form class="form" action="index.html" method="post">
        <div class="email row">
          <h5 class="col">E-pasts: </h5>
          <input type="email" name="email" value class="col">
        </div>
        <div class="password row">
          <h5 class="col">Parole: </h5>
          <input type="password" name="password" class="col">
        </div>
        <input type="submit" name="btnlogin" value="ieiet" class="btn btn-dark">
      </form>
      <a class="btn btn-dark forgot-pw" routerLink="">Aizmirsu paroli</a>
    </div>
    <div class="container register">
      <p><strong>Nav izveidots konts?</strong></p>
      <a class="btn btn-dark" routerLink="/register">Reģistrēties</a>
    </div>
  </div>
</div>
