<div class="container">
  <h2 class="h2">Kontaktinformācija</h2>
  <div class="container contact-info">
    <div class="contact-info-text">
      <h2 class="h2 text-center text-black"><strong>Tālruņi: </strong>2*******; 2*******; 2*******; 2*******</h2><br>
      <h2 class="h2 text-center text-black"><strong>E-pasts: </strong>epasts@epasts.lv</h2><br>
      <h2 class="h2 text-center text-black"><strong>Adrese: </strong>Tāda iela 88, Pilsēta</h2><br><br>
      <h4 class="h4 text-center">Pirms sazināties ar administratoru, aicinām konsultēties sadaļā <a class="text-black" routerLink="/faq">"bieži uzdotie jautājumi"</a>: iespējams, tur būs atbilde uz Jūsu jautājumu!</h4><br>
      <h4 class="h4 text-center">Paldies par sadarbību!</h4>
    </div>
  </div>
</div>
