<div class="container">
  <h2 class="h2">Meklēšana</h2>
  <div class="container" id="search">
    <form class="" action="index.html" method="post">
      <div class="search container row wordsearch">
        <h5 class="col h5"><strong>Meklējamais vārds vai frāze: </strong></h5>
        <input class="col">
      </div>
      <div class="search container row groupsearch">
        <h5 class="col h5"><strong>Grupa: </strong></h5>
        <select class="col" id="group">
          <option value="-1" selected></option>
          <option *ngFor="let group of groupNames" value="{{group.ID}}">{{group.group_name}}</option>
        </select>
      </div>
      <div class="search container row categorysearch">
        <h5 class="col h5"><strong>Kategorija: </strong></h5>
        <select class="col" id="group">
          <option value="-1" selected></option>
          <option></option>
        </select>
      </div>
      <div class="text-center">
        <input type="submit" name="btn" id="sbtn" value="Meklēt" class="btn btn-dark">
      </div>
    </form>
  </div>
</div>
