<div class="container">
  <h2 class="h2">Meklēšana</h2>
  <div class="container" id="search">
    <form class="" action="index.html" method="post">
      <div class="search container row">
        <h5 class="col h5"><strong>Meklējamais vārds vai frāze: </strong></h5>
        <input class="col">
      </div>
      <div class="search container row">
        <h5 class="col h5"><strong>Sadaļa: </strong></h5>
        <select class="col">
          <option value="-1" selected></option>
          <option value="1">Transports</option>
          <option value="2">Nekustamais īpašums</option>
          <option value="3">Elektrotehnika</option>
          <option value="4">Mājai</option>
          <option value="5">Apģērbs</option>
          <option value="6">Bērniem</option>
          <option value="7">Atpūtai un hobijiem</option>
          <option value="8">Lauksaimniecībai</option>
          <option value="9">Dārzam</option>
          <option value="10">Celtniecībai</option>
          <option value="11">Ražošanai</option>
          <option value="12">Pakalpojumi</option>
        </select>
      </div>
      <div class="text-center">
        <input type="submit" name="btn" id="sbtn" border="1" value="Meklēt" class="btn btn-dark">
      </div>
    </form>
  </div>
</div>
