<div class="container">
    <h2 class="h2">Reģistrēties</h2>
    <div class="container register">
      <div class="register-form">
        <form class="form">
            <div class="fname row">
                <label class="col h5" for="fname">Vārds: </label>
                <input type="text" name="fname" value class="col">
            </div>
            <div class="lname row">
                <label class="col h5" for="lname">Uzvārds: </label>
                <input type="text" name="lname" value class="col">
            </div>
            <div class="email row">
                <label class="col h5" for="email">E-pasts: </label>
                <input type="email" name="email" value class="col">
            </div>
            <div class="password row">
                <label class="col h5" for="passwd">Parole: </label>
                <input type="password" name="passwd" class="col">
            </div>
            <div class="password-confirm row">
                <label class="col h5" for="passwd-rep">Parole atkārtoti: </label>
                <input type="password" name="passwd-rep" class="col">
            </div>
            <div class="phone row">
                <label class="col h5" for="tel-no">Tālrunis: </label>
                <input type="tel" name="tel-no" class="col">
            </div>
            <input type="submit" name="btnlogin" value="Reģistrēties" class="btn btn-dark">
        </form>
      </div>
    </div>
  </div>
